.head {
	width: 100%;
	height: 44px;
	background-color: black;
	background-position: center;
}

.head-1 {
	width: 100%;
	height: 84px;
	background-color: #fdfdfd;
	border-bottom: 1px solid #999;
}

.head-1-1 {
	width: 960px;
	height: 84px;
	margin: auto;
}

.head-1-2 {
	width: 169px;
	height: 84px;
	background-image: url(../img/555_06.jpg);
	float: left;
	background-repeat: no-repeat;
}

.head-1-3 {
	width: 63px;
	height: 40px;
	display: block;
	margin-top: 20px;
	margin-left: 100px;
}

.head-1-3 span {
	color: #cccccc;
	font-size: 3px;
}

.head-1-4 {
	color: #0079c1;
	width: 62px;
	height: 20px;
	text-align: center;
}

.hover {
	width: 740px;
	height: 35px;
	float: right;
	text-align: center;
	margin-top: 30px;
	font-size: 13px;
}

.hover span {
	width: 88px;
	height: 32px;
	display: block;
	float: left;
	font-weight: 200;
}

.hover span a {
	color: #000000;
}

.hover span:hover {
	border-bottom: 5px solid #00457c;
}

.hover span:hover a {
	font-weight: 900;
}

.border {
	width: 100%;
	height: 471px;
	margin: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/消费贷款_02.jpg);
}

.marght {
	width: 960px;
	height: 398px;
	margin: auto;
	margin-top: 20px;
}

.marght-1 {
	width: 604px;
	height: 398px;
	float: left;
	border: 1px solid #e9e9e9;
	margin: auto;
}

.marght-2 {
	width: 456px;
	height: 335px;
	margin: auto;
	margin-top: 30px;
}

.marght-2-1 {
	width: 225px;
	height: 171px;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	float: left;
}

.marght-2-1 h5 {
	width: 62px;
	height: 16px;
	display: block;
	color: #00457c;
}

.marght-2-1 p {
	display: block;
	width: 170px;
	height: 30px;
	color: #999999;
	padding: 20px 0;
	font-size: 12px;
}

.marght-2-2 {
	width: 168px;
	height: 38px;
	border: 1px solid #999999;
}

.marght-2-3 {
	width: 225px;
	height: 171px;
	border-bottom: 1px solid #E9E9E9;
	float: right;
}

.marght-2-3 h5 {
	width: 80px;
	height: 16px;
	display: block;
	color: #00457c;
	margin-left: 60px;
}

.marght-2-3 p {
	display: block;
	width: 170px;
	height: 30px;
	color: #999999;
	padding: 20px 0;
	font-size: 12px;
	margin-left: 60px;
}

.marght-2-4 {
	width: 168px;
	height: 38px;
	border: 1px solid #999999;
	margin-left: 60px;
}

.marght-2-5 {
	width: 225px;
	height: 171px;
	border-right: 1px solid #E9E9E9;
	float: left;
}

.marght-2-5 h5 {
	width: 80px;
	height: 16px;
	display: block;
	color: #00457c;
	margin-top: 45px;
}

.marght-2-5 p {
	display: block;
	width: 170px;
	height: 30px;
	color: #999999;
	padding: 20px 0;
	font-size: 12px;
}

.marght-2-6 {
	width: 225px;
	height: 171px;
	float: right;
}

.marght-2-6 h5 {
	width: 80px;
	height: 16px;
	display: block;
	color: #00457c;
	margin-left: 60px;
	margin-top: 45px;
}

.marght-2-6 p {
	display: block;
	width: 170px;
	height: 30px;
	color: #999999;
	padding: 20px 0;
	font-size: 12px;
	margin-left: 60px;
}

.marght-2-4 {
	width: 168px;
	height: 38px;
	border: 1px solid #999999;
	margin-left: 60px;
}

.padding {
	width: 345px;
	height: 366px;
	float: right;
}

.padding-1 {
	width: 345px;
	height: 196px;
	background-image: url(../img/消费贷款_06.jpg);
}

.padding-2 {
	width: 300px;
	height: 151px;
	margin: auto;
}

.padding-2 h4 {
	margin-bottom: 20px;
	margin-top: 10px;
}

.padding-2 span {
	color: #fe8823;
}

.padding-2 p {
	font-size: 12px;
	color: #666;
	line-height: 30px;
}

.content {
	width: 960px;
	height: 147px;
	margin: auto;
	margin-top: 70px;
	border: 1px solid #E9E9E9;
}

.content-1 {
	width: 960px;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	font-weight: 800;
	background-color: #f8f8f8;
	border-bottom: 1px solid #E9E9E9;
}

.content-2 {
	width: 950px;
	height: 90px;
	margin: auto;
}

.content-2 a {
	width: 135px;
	height: 50px;
	display: block;
	float: left;
}

.content-2 a:nth-child(1) {
	background-image: url(../img/消费贷款_10.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(2) {
	background-image: url(../img/消费贷款_11.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(3) {
	background-image: url(../img/消费贷款_12.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(4) {
	background-image: url(../img/消费贷款_13.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(5) {
	background-image: url(../img/消费贷款_14.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(6) {
	background-image: url(../img/消费贷款_15.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(7) {
	background-image: url(../img/消费贷款_16.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(8) {
	background-image: url(../img/消费贷款_18.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(9) {
	background-image: url(../img/消费贷款_19.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(10) {
	background-image: url(../img/消费贷款_20.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(11) {
	background-image: url(../img/消费贷款_21.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(12) {
	background-image: url(../img/消费贷款_22.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(13) {
	background-image: url(../img/消费贷款_23.jpg);
	background-repeat: no-repeat;
}

.content-2 a:nth-child(14) {
	background-image: url(../img/消费贷款_24.jpg);
	background-repeat: no-repeat;
}

.hhh {
	width: 960px;
	height: 112px;
	margin-top: 20px;
	border: #E9E9E9 1px solid;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
}

.hhh-1 {
	width: 960px;
	height: 42px;
	background-color: #F8F8F8;
	line-height: 42px;
	font-size: 12px;
	border-bottom: #E9E9E9 1px solid;
}

.zuihou-1 {
	width: 72px;
	height: 62px;
	float: left;
	font-size: 10px;
	line-height: 30px;
	margin-top: 10px;
}

.zuihou-1 a {
	color: #999999;
}

.xia {
	width: 960px;
	height: 150px;
	border: #E9E9E9 1px solid;
	margin-top: 50px;
	margin: auto;
}

.xia-1 {
	width: 960px;
	height: 40px;
	background-color: #F8F8F8;
	line-height: 42px;
	font-size: 12px;
	border-bottom: #E9E9E9 1px solid;
}

.dibu {
	width: 100%;
	height: 250px;
	background-color: #F5f5f5;
	border-top: 1px solid #d0d0d0;
	clear: both;
	margin-top: 70px;
}

.dibu-1 {
	width: 960px;
	height: 30px;
	margin: auto;
	border-bottom: #E9E9E9 1px solid;
}

.dibu-1-1 {
	width: 52px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 10px;
}

.dibu-1-2 {
	width: 152px;
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 10px;
	color: #cccccc;
	font-weight: 900;
}

.dibu-2 {
	width: 960px;
	height: 10px;
	margin: auto;
	font-size: 12px;
	padding: 10px 0;
	border-bottom: #E9E9E9 1px solid;
	margin: auto;
	margin-bottom: 10px;
}
.dibu-2 a{
	color: #CCCCCC;
}
.dibu-2-1 {
	width: 940px;
	height: 18px;
	margin: auto;
	font-size: 10px;
	color: #999999;
	margin-top: 15px;
	margin-bottom: 10px;
	margin: auto;
}
.dibu-3{
	width: 800px;
	height: 40px;
	margin: auto;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}
.dibu-3 a {
	color: #666;
}
.dibu-3 p:nth-child(2){
	margin-top: 10px;
	color: #999999;
}

.dibu-4 {
	width: 112px;
	height: 40px;
	margin: auto;
	margin-top: 40px;
	background-image: url(../img/【北京贷款】北京贷款公司_北京银行贷款_北京个人贷款-好贷网_58.jpg);
}
